{% load staticfiles %}

<html>
    <head>
        <title>Pago Manual de Ticket</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Bootstrap CSS and bootstrap datepicker CSS used for styling the demo pages-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
<body>
<div class="container" >

{% include "sceapp/navbar.html" %}

<div class="hero-unit">
<h2>Informe de Ticket</h2>

<h3>ID del Ticket: {{ ticket_id }}</h3>
<h3>Fecha de Entrada: {{ start_date|date:"Y-m-d H:i:s" }}</h3>
<h3>Estado: {% if state == "A" %} ABIERTO {% elif state == "P" %} PAGADO {% else %} ANULADO {% endif %}</h3>

<div class="hero-unit">
<form action="{% url 'sceapp:manualpaymentpreview2' %}" method="post" OnSubmit="return CheckDescription()" >
{% csrf_token %}
Descripcion del Pago: <textarea class="form-control" name="description" rows="2"></textarea> <br/>
Periodo: <input type="radio" name="period" value="D" checked >Dia
         <input type="radio" name="period" value="H">Mes 
<br/>
Monto: <input type="Text" name="amount" value="0" />
<br/>
Ingresar ID de Ticket: <input type="Text" name="typed_id" autofocus="autofocus" value={{ ticket_id }} />
{% if state == "A" %} 
<button type="submit" class="btn btn-success">Vista Previa del Pago</button>
{% else %} 
<button type="submit" class="btn btn-success" disabled=true>Estado del Ticket Invalido</button>
{% endif %}
<a href="/sceapp/index" class="btn btn-info">Volver</a>
</form>
</div>

</div>

	<script language=javascript type="text/javascript">
		function CheckDescription(){
			if (document.forms[0].description.value=="")
			{
				alert("Favor completar el campo descripcion."); 
				return false;
			}
			return true
		}
	</script>
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

 </body>
</html>

