{% load staticfiles %}

<html>
    <head>
        <title>Pago Manual de Ticket</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Bootstrap CSS and bootstrap datepicker CSS used for styling the demo pages-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
<body>
<div class="container">

{% include "sceapp/navbar.html" %}

<div class="hero-unit">
<h2>Pago de Ticket</h2>

<form action="{% url 'sceapp:manualpaymentpreview' %}" method="post">
{% csrf_token %}
Ingresar ID de Ticket: <input type="Text" name="typed_id" autofocus="autofocus" />
<button type="submit" class="btn btn-success">Realizar Pago</button>
</form>
</div>
</div>
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

 </body>
</html>

