{% load staticfiles %}

<html>
    <head>
        <title>Listado Tickets por Mes</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Bootstrap CSS and bootstrap datepicker CSS used for styling the demo pages-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/datepicker.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>
    <body>
<div class="container">

{% include "sceapp/navbar.html" %}

	  <form id="dateSelect" action="{% url 'sceapp:listticketsbymonth' %}" method="post" >
	    {% csrf_token %}
            <div class="hero-unit">
                <input  type="text" placeholder="click para seleccionar"  id="yearSelected" name="yearSelected">
		<button type="submit" class="btn btn-default">Consultar</button>
            </div>
	  </form>
</div>
        <!-- Load jQuery and bootstrap datepicker scripts -->
        <script src="{% static 'jquery/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/datepicker.js' %}"></script>
	<script src="{% static 'bootstrap/js/datepicker.es.js' %}"></script>
        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#yearSelected').datepicker({
                    format: "yyyy",
		    viewMode: "years", 
    		    minViewMode: "years",
		    language: "es"
                });  
            
            });
        </script>
    </body>
</html>

