{% load staticfiles %}


<html>
    <head>
        <title>Listado Tickets por Dia</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Bootstrap CSS and bootstrap datepicker CSS used for styling the demo pages-->
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    </head>

<body>

<div class="container">

{% include "sceapp/navbar.html" %}

<div class="hero-unit">

	<h3>Monto Total: {{ total_amount }} Gs.</h3>
	<div class="row">
	<div class="span8">
            <table class="table">
                  <thead>
                  <tr>
                      <th>ID Ticket</th>
                      <th>Fecha Entrada</th>
		      <th>Fecha Salida</th> 
                      <th>Creado por</th>
                      <th>Estado</th>
		      <th>Monto</th>
                  </tr>
              </thead>   
              <tbody>
		{% for ticket in tickets %}
		<tr>
    			<td>{{ ticket.token|upper }}</td>
			<td>{{ ticket.start_date|date:"Y-m-d H:i" }}</td>
			<td>{{ ticket.end_date|date:"Y-m-d H:i" }}</td>
			<td>{{ ticket.created_by }}</td>
			<td><span class="label label-success">{{ ticket.state }}</span></td>
			{% for payment in ticket.payment_set.all %}
				<td>{{ payment.amount }}</td>
			{% empty %}
				<td>0</td>
			{% endfor %}
		</tr>
		{% endfor %}
              </tbody>
            </table>
            </div>
	</div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if tickets.has_previous %}
            <a href="?page={{ tickets.previous_page_number }}&dateSelected={{ dateSelected }}">Anterior</a>
        {% endif %}

        <span class="current">
            Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}.
        </span>

        {% if tickets.has_next %}
            <a href="?page={{ tickets.next_page_number }}&dateSelected={{ dateSelected }}">Siguiente</a>
        {% endif %}
    </span>
</div>
</div> 

<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>
