<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>My Title</title>
        <style type="text/css">
            @page {
                size: 8cm 9cm; /* width height */
                margin: 0.5cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
        </style>
    </head>
    <body>
	<h3>{{ top_title }}</h3>
	<h4>Oliva 1052 e/ Chile y Ntra. Sra. de la Asuncion-Tel: 442844</h4>
	<h4>Cel: 0984561777</h4>
	<h4>ID Ticket: {{ ticket_id }}</h4>
        <h4>Chapa: {{ plate_id }}</h4>
        <div>
                 <img  src="{{ barcode }}"/> 
        </div>
	<h3>Fecha - Hora Entrada: {{ start_date | date:" d-m-Y H:i:s" }} </h3>
	<h3>Lunes a Viernes Horario: 6:30 - 19:00</h3>
	<h3>La empresa no se responsabiliza por accidentes y/o perdidas</h3>
        <div id="footerContent">
            {%block page_foot%}
                Page <pdf:pagenumber>
            {%endblock%}
        </div>
    </body>
</html>
